<!-- views/products.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>List of Products</title>
</head>
<body>
    <h1>List of Products</h1>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <h2><%= product.product_name %></h2>
                <!-- <p><%= product.product_description %></p>
                <p>Price: $<%= product.product_price %></p>
                <p>Category: <%= product.category_id %></p>
                <img src="<%= product.thumbnail %>" alt="Product Thumbnail" width="100"> -->
                <!-- Add more details as needed -->
            </li>
        <% }); %>
    </ul>
</body>
</html>
